<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="socket_box.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <socket_box.Properties.Settings>
        <setting name="RUN_TYPE" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="IP" serializeAs="String">
          <value>127.0.0.1</value>
        </setting>
        <setting name="PORT" serializeAs="String">
          <value>8899</value>
        </setting>
        <setting name="MAIN_ENCODING" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="AUTO_SEND_FLAG" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="AUTO_SEND_MSG" serializeAs="String">
          <value />
        </setting>
        <setting name="SEND_ENCODING" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="AUTO_SEND_TYPE" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="AUTO_SEND_TARGET_TYPE" serializeAs="String">
          <value>0</value>
        </setting>
      </socket_box.Properties.Settings>
    </userSettings>
</configuration>